.container {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  height: 100vh;
  display: flex;
  align-items: center;
}

.header {
  margin: 32px;
  padding: 16px;
}

.caption {
  color: var(--caption-color);
  font-style: italic;
  font-size: 20px;
  width: 100%;
}
